# Enviroment
.env

# OCaml
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.a
*.so
*.dylib
_build/
*.install
*.merlin

# Dune
.dune

# Database
data/*.db
data/*.sqlite3

# Docker
.docker/

# IDE
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

